{% extends 'base.html.twig' %}
{% block title %}Editer mon mot de passe{% endblock %}
{%  block body %}
    <div class="container">
        <div class="row">
            <div class="col s8">
                <h3>Editer mon Mot de passe</h3>
            </div>
        </div>
    <div class="col s4">
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flashes {{ type }} pink lighten-3">
                    <span class="flash-{{ type }} white-text">{{ message }}</span>
                    {% if type == 'danger' %}
                        <i class="material-icons right">error</i>
                    {% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    {{ form_start(form) }}
<div class="section">
    <div class="row mgt15">
        <div class="input-field col s4 offset-l3 ">
    {{ form_label(form.oldPassword) }}
    {{ form_widget(form.oldPassword) }}
        </div>
    </div>

</div>
<div class="section">
    <div class="row mgt15">
        <div class="input-field col s4 offset-l3 ">
            {{ form_label(form.plainPassword.first) }}
            {{ form_errors(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first) }}
        </div>
    </div>
</div>
    <div class="section">
        <div class="row mgt15">
            <div class="input-field col s4 offset-l3 ">
                {{ form_label(form.plainPassword.second) }}
                {{ form_errors(form.plainPassword.second) }}
                {{ form_widget(form.plainPassword.second) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="s4 col offset-l5 sauvegarder ">
            <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
        </div>
    </div>
    {{ form_end(form) }}
    </div>
{% endblock %}
