{% extends 'base.html.twig' %}

{% block title %}Hello HeadBoardController!{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header  grey lighten-4">
                        <table class="table-in-collapse">
                            <tr class="row">
                                <td class="col s1">
                                    <i class="material-icons">person</i>
                                </td>
                                <td class="col s5">
                                    <h5 class="cyan-text left-align">Vos appels</h5>
                                </td>
                                <td class="col s2">
                                    <span class="chip light-green white-text">{{ calls_added_by_user }}</span> appels ajoutés ce jour
                                </td>
                                <td class="col s2">
                                    <span class="chip cyan white-text">{{ calls_to_process }}</span> <a href="{{ path('user_home') }}">appels à effectuer</a>
                                </td>
                                <td class="col s2">
                                    <span class="chip light-green white-text">{{ calls_in_process }}</span> <a href="{{ path('user_calls_in_process') }}">rappels à effectuer</a>
                                </td>

                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                {% for cityName, city in cities %}
                    <li class="">
                        <div class="collapsible-header">
                            <table class="table-in-collapse">
                                <tr class="row">
                                    <td class="col s1">
                                        <i class="material-icons">home</i>
                                    </td>
                                    <td class="col s5">
                                        <h5 class="cyan-text left-align">{{ cityName }}</h5>
                                    </td>
                                    <td class="col s2">
                                    </td>
                                    <td class="col s2">
                                        <span class="chip cyan white-text">{{ city.to_process }}</span> appels à effectuer
                                    </td>
                                    <td class="col s2">
                                        <span class="chip light-green white-text">{{ city.in_process }}</span> rappels à effectuer
                                    </td>

                                </tr>
                            </table>
                        </div>
                        <div class="collapsible-body">
                            <ul class="collapsible">
                                {% for concessionName, concession in city.concessions %}
                                    <li class="">
                                        <div class="collapsible-header">
                                            <table class="table-in-collapse">
                                                <tr class="row">
                                                    <td class="col s1">
                                                        <i class="material-icons">settings</i>
                                                    </td>
                                                    <td class="col s5">
                                                        <h5 class="cyan-text left-align">{{ concessionName }}</h5>
                                                    </td>
                                                    <td class="col s2">
                                                    </td>
                                                    <td class="col s2">
                                                        <span class="chip cyan white-text">{{ concession.to_process }}</span> appels à effectuer
                                                    </td>
                                                    <td class="col s2">
                                                        <span class="chip light-green white-text">{{ concession.in_process }}</span> rappels à effectuer
                                                    </td>

                                                </tr>
                                            </table>
                                        </div>
                                        <div class="collapsible-body">
                                            <ul class="collapsible">
                                                {% for serviceName, service in concession.services %}
                                                    <li class="">
                                                        <div class="collapsible-header">
                                                            <table class="table-in-collapse">
                                                                <tr class="row">
                                                                    <td class="col s1">
                                                                        <i class="material-icons">settings</i>
                                                                    </td>
                                                                    <td class="col s5">
                                                                        <h5 class="cyan-text left-align">{{ serviceName }}</h5>
                                                                    </td>
                                                                    <td class="col s2">
                                                                    </td>
                                                                    <td class="col s2">
                                                                        <span class="chip cyan white-text">{{ service.to_process }}</span> appels à effectuer
                                                                    </td>
                                                                    <td class="col s2">
                                                                        <span class="chip light-green white-text">{{ service.in_process }}</span> rappels à effectuer
                                                                    </td>

                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <div class="collapsible-body">
                                                            <ul class="collapsible">
                                                                {% for userName, user in service.collaborators %}
                                                                    <li class="">
                                                                        <div class="collapsible-header">
                                                                            <table class="table-in-collapse">
                                                                                <tr class="row">
                                                                                    <td class="col s1">
                                                                                        <i class="material-icons">settings</i>
                                                                                    </td>
                                                                                    <td class="col s5">
                                                                                        <h5 class="cyan-text left-align">{{ userName }}</h5>
                                                                                    </td>
                                                                                    <td class="col s2">
                                                                                    </td>
                                                                                    <td class="col s2">
                                                                                        <span class="chip cyan white-text">{{ user.to_process }}</span> appels à effectuer
                                                                                    </td>
                                                                                    <td class="col s2">
                                                                                        <span class="chip light-green white-text">{{ user.in_process }}</span> rappels à effectuer
                                                                                    </td>

                                                                                </tr>
                                                                            </table>
                                                                        </div>
                                                                        <div class="collapsible-body">

                                                                        </div>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
