{% extends 'base.html.twig' %}

{% block title %}Hello HeadBoardController!{% endblock %}

{% block body %}

<div class="row">
    <div class="col s12">
        <ul class="collapsible">
            {% for service in services %}
                <li class="">
                    <div class="collapsible-header">
                        <i class="material-icons">home</i> {{ service.name }} : {{ service.not_processed }} appels à traiter / {{ service.processed }} appels en cours de traitement
                    </div>
                    <div class="collapsible-body">
                        <table>
                            <thead>
                            <tr>
                                <th>Collaborateur</th>
                                <th class="center-align">Appels à traiter</th>
                                <th class="center-align">Appels en cours de traitement</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in service.users %}
                                <tr>
                                    <td>{{user.name}}</td>
                                    <td class="center-align"><span class="chip light-blue white-text">{{ user.to_process }}</span></td>
                                    <td class="center-align"><span class="chip light-green white-text">{{ user.in_process }}</span></td>
                                </tr>
                            {% endfor %}
                            </tbody>


                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
