{% extends 'base.html.twig' %}

{% block title %}Gestion des Appels{% endblock %}

{% block body %}
    <div class="row">
        <div class="col s12">
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header  grey lighten-4">
                        <table class="table-in-collapse">
                            <tr class="row">
                                <td class="col s1">
                                    <i class="material-icons">person</i>
                                </td>
                                <td class="col s5">
                                    <h5 class="cyan-text left-align">Vos appels</h5>
                                </td>
                                <td class="col s2">
                                    <span class="chip light-green white-text">{{ calls_added_by_user }}</span> appels
                                    ajoutés
                                </td>
                                <td class="col s2">
                                    <span class="chip cyan white-text">{{ calls_to_process }}</span> <a
                                            href="{{ path('user_home') }}">appels à effectuer</a>
                                </td>
                                <td class="col s2">
                                    <span class="chip light-green white-text">{{ calls_in_process }}</span> <a
                                            href="{{ path('user_calls_in_process') }}">rappels à effectuer</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {% if cities is defined and cities %}
        <div class="row">
            <div class="col s12">
                <h5>Les appels pour les sites dont vous êtes responsable</h5>
                <table class="headboard-table">
                    {% for cityName, city in cities %}

                        <tr
                                class="row collapsor city-line"
                                data-collapse="{{ city.slug }}"
                                data-type="city"
                                data-identifier="{{ city.slug }}"
                        >
                            <td class="col s8 subrow" colspan="3">
                                <i class="material-icons left tiny cyan-text text-darken-3">location_city</i>
                                <span class="city-name cyan-text text-darken-3">{{ cityName }}</span>
                            </td>

                            <td class="col s2"><span
                                        class="chip cyan darken-4 white-text counter {% if city.to_process == 0 %} hide {% endif %}"
                                        id="{{ city.slug }}-to-process">{{ city.to_process }}</span></td>

                            <td class="col s2"><span
                                        class="chip light-green darken-4 white-text counter  {% if city.in_process == 0 %} hide {% endif %}"
                                        id="{{ city.slug }}-in-process">{{ city.in_process }}</span></td>

                        </tr>
                        {% for concessionName, concession in city.concessions %}
                            <tr class="row collapsor concession-line hide {{ city.slug }}"
                                data-collapse="{{ city.slug }}-{{ concession.slug }}"
                                data-parent="{{ city.slug }}"
                                data-type="concession"
                                data-identifier="{{ city.slug }}-{{ concession.slug }}"
                            >
                                <td class="col s8 subrow" colspan="3">
                                    <i class="material-icons left tiny cyan-text">home</i>
                                    <span class="bolder concession-name cyan-text">{{ concessionName }}</span>
                                </td>
                                <td class="col s2"><span
                                            class="chip cyan darken-1 white-text counter  {% if concession.to_process == 0 %} hide {% endif %}"
                                            id="{{ city.slug }}-{{ concession.slug }}-to-process">{{ concession.to_process }}</span>
                                </td>

                                <td class="col s2"><span
                                            class="chip light-green darken-1 white-text counter  {% if concession.in_process == 0 %} hide {% endif %}"
                                            id="{{ city.slug }}-{{ concession.slug }}-in-process">{{ concession.in_process }}</span>
                                </td>
                            </tr>
                            {% for serviceName, service in concession.services %}
                                <tr class="row collapsor {{ concession.slug }} service-line hide"
                                    data-collapse="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}"
                                    data-parent="{{ city.slug }}-{{ concession.slug }}"
                                    data-type="service"
                                    data-identifier="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}"
                                >
                                    <td class="col s8 subrow" colspan="3">
                                        <i class="material-icons left tiny">settings</i>
                                        <span class="bolder service-name">{{ serviceName }}</span>
                                    </td>
                                    <td class="col s2">
                                        <span
                                                class="chip cyan lighten-3 black-text service-name counter  {% if service.to_process == 0 %} hide {% endif %}"
                                                id="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}-to-process">{{ service.to_process }}
                                        </span>
                                        <span
                                                class="chip deep-orange white-text service-name counter to-take {% if service.to_take == 0 %} hide {% endif %}"
                                                id="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}-to-take">{{ service.to_take }}
                                        </span>
                                    </td>

                                    <td class="col s2"><span
                                                class="chip light-green lighten-3 black-text counter {% if service.in_process == 0 %} hide {% endif %}"
                                                id="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}-in-process">{{ service.in_process }}</span>
                                    </td>
                                </tr>
                                {% for userName, user in service.collaborators %}
                                    {% if user.canBeRecipient %}
                                        <tr class="row hide user-line {{ service.slug }}"
                                            data-concession="{{ concession.slug }}"
                                            data-parent="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}"
                                        >
                                            <td class="col s8 subrow" colspan="3">
                                                <i class="material-icons left tiny">person</i>
                                                <span class="user-name"><a href="{{ path('user_home', {'id' : user.user_id}) }}">{{ userName }}</a></span>
                                            </td>
                                            <td class="col s2">
                                                <a href="{{ path('user_home', {'id' : user.user_id}) }}">
                                                <span class="chip blue darken-3 white-text counter {% if user.to_process == 0 %} hide {% endif %}"
                                                      id="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}-{{ user.slug }}-to-process">
                                                    {{ user.to_process }}
                                                </span>
                                                </a>
                                            </td>
                                            <td class="col s2">
                                                <a href="{{ path('user_calls_in_process', {'id' : user.user_id}) }}">
                                                <span class="chip green darken-2 white-text counter {% if user.in_process == 0 %} hide {% endif %}"
                                                      id="{{ city.slug }}-{{ concession.slug }}-{{ service.slug }}-{{ user.slug }}-in-process">
                                                    {{ user.in_process }}
                                                </span>
                                                </a>
                                            </td>

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('headBoardUpdater') }}
{% endblock %}
