<h1 class="center-align">Services</h1>

<table class="table highlight">
    <thead>
    <tr>
        <th>Id</th>
        <th>Concession</th>
        <th>Service</th>
        <th>Marque</th>
        <th class="center-align">Modifier</th>
        <th class="center-align">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% set ref = 0 %}
    {% set cref = services.0.concession %}
    {% for service in services %}
        {% if service.concession != cref %}
            {% set ref = ref + 1 %}
            {% set cref = service.concession %}
        {% endif %}
        <tr id="service-line-{{ service.id }}" {% if ref%2 == 0 %}class="grey lighten-3"{% endif %}>
            <td>{{ service.id }}</td>
            <td> {{ service.concession.name }}</td>
            <td>{{ service.name }}</td>
            <td>{{ service.brand }}</td>
            <td class="center-align">
                <a href="#" class="edit-service-button" data-target="{{ service.id }}"><i class="material-icons">edit</i></a>
            </td>
            <td class="center-align">
                <a href="#" class="delete-service-button" data-target="{{ service.id }}"><i class="material-icons">delete</i></a>
            </td>
        </tr>
        <tr class="hide editor-line" id="service-line-edit-{{ service.id }}">
            <td id="service-td-edit-{{ service.id }}" colspan="5"></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">Aucun enregistrement trouvé</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


