<li
        class="collection-item cell-item"
        data-date="{{ call.recallDate|date('Ymd') }}{{ call.recallDate|date('Hi') }}"
        id="call-{{ call.id }}"
        data-status="{% if app.request.get('_route') == 'user_home' %}new{% else %} inprocess{% endif %}"
>
    <div class="row call-list-row-cell">
        <div class="col s10">

            <div class="row">
                <div class="col s4">
                    <small>
                    crée
                    <span class="bolder">
                            {{call.createdAt|dateName}} à {{ call.createdAt|timeFormat}}
                    </span>
                        {% if call.recipient %}
                         par <span class="bolder">{{call.recipient.service.concession.town.name}}</span>
                        {% endif %}
                    </small>
                    {% if call.callTransfers is not empty %}
                        <i class="material-icons left tooltipped" data-position="right" data-tooltip="<div class='left-align'>
                        {% for transfer in call.callTransfers|reverse %}
                            <span class='history-line'>
                            - Transféré par {{ transfer.byWhom.firstName }} {{ transfer.byWhom.lastName }} {{ transfer.createdAt|dateName }} à {{ transfer.createdAt|timeFormat }}
                            <span><br>
                        {% endfor %}
                        </div>
                        ">description</i>
                    {% endif %}
                    {% if (is_granted('ROLE_ADMIN')) %}
                        <a
                                href="#"
                                class="white-text left tooltipped delete-call"
                                data-call="{{ call.id }}"
                                data-position="top"
                                data-tooltip="supprimer cet appel"
                                data-status="{% if app.request.get('_route') == 'user_home' %}new{% else %}inprocess{% endif %}"
                        >
                            <i class="material-icons red-text">delete_forever</i>
                        </a>
                    {% endif %}
                </div>
                <div class="col s8 recipient-zone">
                    {% if call.recipient and call.recipient.service.users is not empty %}
                    <div class="list-dest hide" id="users-in-service-{{ call.id }}">
                        <span class="before">Transférer à ...
                            <a href="#" class="close-list secondary-content white-text" data-target="users-in-service-{{ call.id }}"><i class="material-icons">close</i></a>
                        </span>

                        <ul class="">
                            {%  for user in call.recipient.service.users %}
                                <li class="dest-item">
                                    <a href="#" class="recipients-to-transfer" data-for="{{ user.id }}" data-call="{{ call.id }}">{{user.firstname}} {{user.lastname}} </a>
                                    <i class="material-icons white-text secondary-content">phone_forwarded</i>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    {% if call.recipient %}
                        <span class="chip flow-text black-text grey lighten-2 recipient-changer" data-call="{{ call.id }}">
                            <i class="material-icons left ">person</i>
                            {{ call.recipient.firstname }} {{ call.recipient.lastname }}
                        </span>
                        <span class="place-name">
                        <i class="material-icons tiny">home</i>
                        {{call.recipient.service.concession.name}}
                    </span>
                        <span class="place-name service-name">
                        <i class="material-icons tiny">settings</i>
                        {{ call.recipient.service.name }}
                            {% if call.recipient %}
                                <a class="grey darken-3 call-transfer-btn btn-rounded mgl30" href="#" data-call="{{ call.id }}" id="treatment-btn-{{ call.id }}">transférer</a>
                            {% endif %}
                    </span>
                    {% else %}
                        <a href="{{ path('take_call', {'id' : call.id}) }}" class="btn cyan white-text">Prendre en charge</a>
                        <span class="place-name">
                        <i class="material-icons tiny">home</i>
                        {{call.service.concession.name}}
                    </span>
                        <span class="place-name service-name">
                        <i class="material-icons tiny">settings</i>
                        {{ call.service.name }}
                            {% if call.recipient %}
                                <a class="grey darken-3 call-transfer-btn btn-rounded mgl30" href="#" data-call="{{ call.id }}" id="treatment-btn-{{ call.id }}">transférer</a>
                            {% endif %}
                    </span>
                    {% endif %}

                </div>
            </div>

            <div class="row">
               <div class="col s4">
                    <span class="title">
                        {{call.client.civility.name}} {{call.client.name}}
                        {% if call.client.email != '' %}
                            <span class="mgl30"><i class="material-icons tooltipped grey-text text-darken-3 tiny" data-position="top" data-tooltip="{{call.client.email}}">mail</i></span>
                        {% endif %}
                    </span>
               </div>
               <div class="col s4">
                   <i class="material-icons left grey-text">label</i> {{ call.subject.name }}
               </div>
               <div class="col s4">
                   <i class="material-icons left grey-text">label</i>{{ call.comment.name }}
               </div>
           </div>

            <div class="row">
                <div class="col s4">
                    <span class="chip ">{{call.client.phone|phoneNumber}}</span>
                </div>
                <div class="col s8">
                    <em>{{ call.freeComment }}</em>
                </div>
            </div>

            <div class="row">
                <div class="col s4">
                    {% if call.client.phone2 is defined and call.client.phone2 is not null and call.client.phone2 is not empty %}
                        <span class="chip">{{ call.client.phone2|phoneNumber }}</span>
                    {% endif %}
                </div>
                <div class="col s5" id="call-history-{{ call.id }}">
                    {% for process in call.callProcessings|reverse[:1] %}
                            <span class="chip {{process.stepColors.bgColor}} black-text">{{process.stepColors.stepName}}</span>
                            <span class="bolder">
                                {{ process.createdAt|dateName }}
                                à {{ process.createdAt|timeFormat }}
                            </span>
                    {% endfor %}
                </div>
                <div class="col s3 right-align">
                    <i class="material-icons small left">directions_car</i> <span class="immat left">{{ call.vehicle.immatriculation }}</span>
                    {% if call.vehicle.hasCome == 1 %}
                        <i class="material-icons left light-green-text tooltipped small-more" data-tooltip="Déja venu à l'atelier" data-position="top">build</i>
                    {% elseif call.vehicle.hasCome == 2 %}
                        <i class="material-icons left red-text tooltipped small-more" data-tooltip="Jamais venu à l'atelier" data-position="top">build</i>
                    {% endif %}
                    {% if call.vehicle.chassis %}
                       <span class="d-block left chassis"><span class="bolder">Chassis : </span>{{ call.vehicle.chassis }}</span>
                    {% endif %}
                </div>
            </div>

        </div>

        <div class="col s2 left-align ">
            <div class="call-calendar small grey lighten-4">

                <div
                        class="alert-callback tooltipped {% if call.clientCallback == 0 %} hide {% endif %}"
                        data-position="top"
                        data-tooltip="rappel(s) du client"
                        id="client-callback-{{ call.id }}"
                >
                    {{ call.clientCallback }}
                </div>
                <div class="call-cal-header {% if call.lastProcessColor is not empty %} {{ call.lastProcessColor.class}} {% endif %}{% if call.isUrgent %}urgent{% endif %}" id="cal-head-{{ call.id }}">
                    <i class="material-icons ">event_date </i>
                    <span class="call-cal-date">
                        {{ call.recallDate|dateName }}
                    </span>
                </div>
                <div class="call-cal-body">
                    <span class="bolder">
                    {% if call.isUrgent %}
                        <span class="red-text" id="recall-urgent-{{ call.id }}">urgent</span>
                    {% else %}
                        <span class="grey-text text-darken-4">{{call.recallPeriod.name}} {{call.recallHour|timeFormat}}</span>
                    {% endif %}
                    </span>
                </div>
                <div class="call-cal-action">
                    <a class="{% if call.isUrgent %}urgent{% else %} grey darken-3 {% endif %} call-treatment-btn" href="#" data-call="{{ call.id }}" id="treatment-btn-{{ call.id }}">Traiter</a>
                </div>
            </div>
        </div>
    </div>
</li>
