<li class="collection-item cell-item" data-date="{{ call.recallDate|date('Ymd') }}{{ call.recallDate|date('Hi') }}" id="call-{{ call.id }}">
    <div class="row call-list-row-cell">
        <div class="col s10">
            <div class="row">
                <div class="col s4">
                    <small>
                    Reçu
                    <b>
                            {{call.createdAt|dateName}}
                            à {{ call.createdAt|timeFormat}}
                    </b>
                    par  <b>{{ call.author.firstname }} {{ call.author.lastname }}</b>
                    </small>
                    <i class="material-icons left tooltipped" data-position="right" data-tooltip="<div class='left-align'>
                    {% for transfer in call.callTransfers|reverse %}
                        - Transféré par {{ transfer.byWhom.firstName }} {{ transfer.byWhom.lastName }} {{ transfer.createdAt|dateName }} à {{ transfer.createdAt|timeFormat }}<br>
                    {% endfor %}
                    </div>
                    ">description</i><br>
                </div>
                <div class="col s8">
                    <span class="recipient-chip">
                        <i class="material-icons left">person</i>
                        {{ call.recipient.firstname }} {{ call.recipient.lastname }}
                    </span>
                    <span class="place-name">
                        <i class="material-icons tiny">home</i>
                        {{call.service.concession.name}}
                    </span>
                    <span class="place-name service-name">
                        <i class="material-icons tiny">build</i>
                        {{ call.service.name }}
                    <a class="grey darken-3 call-transfer-btn btn-rounded mgl30" href="#" data-call="{{ call.id }}" id="treatment-btn-{{ call.id }}">transférer</a>
                    </span>
                </div>

            </div>
           <div class="row">
               <div class="col s4">
                    <span class="title">
                        {{call.client.civility.name}} {{call.client.name}}
                        {% if call.client.email != '' %}
                            <span class="mgl30"><i class="material-icons tooltipped grey-text text-darken-3 tiny" data-position="top" data-tooltip="{{call.client.email}}">mail</i></span>
                        {% endif %}
                    </span>
               </div>
               <div class="col s4">
                   <i class="material-icons left grey-text">label</i> {{ call.subject.name }}
               </div>
               <div class="col s4">
                   <i class="material-icons left grey-text">label</i>{{ call.comment.name }}
               </div>

           </div>
            <div class="row">
                <div class="col s4">
                    <span class="chip ">{{call.client.phone|phoneNumber}}</span>
                </div>

                <div class="col s8">
                    <em>{{ call.freeComment }}</em>
                </div>

            </div>
            <div class="row">
                <div class="col s2">
                    {% if call.client.phone2 != '' %}
                        <span class="chip">{{ call.client.phone2|phoneNumber }}</span>
                    {% endif %}
                </div>
                <div class="col s2">

                </div>
                <div class="col s5">
                    {% for process in call.callProcessings|reverse %}
                        {% if loop.index == 1 %}
                            <span class="chip {{process.stepColors.bgColor}} black-text">{{process.stepColors.stepName}}</span>
                            <b>
                                {{ process.createdAt|dateName }}
                                à {{ process.createdAt|timeFormat }}
                            </b>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="col s3 right-align">
                    <i class="material-icons small left">directions_car</i> <span class="immat left">{{ call.vehicle.immatriculation }}</span>
                    {% if call.vehicle.hasCome == 1 %}
                        <i class="material-icons left light-green-text tooltipped" data-tooltip="Déja venu à l'atelier" data-position="top">settings_applications</i>
                    {% elseif call.vehicle.hasCome == 2 %}
                        <i class="material-icons left red-text tooltipped" data-tooltip="Jamais venu à l'atelier" data-position="top">settings_applications</i>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="col s2 left-align ">
            <div class="call-calendar small grey lighten-4">
                <div class="call-cal-header {% if call.isUrgent %}urgent{% endif %}">
                    <i class="material-icons ">event_date </i>
                    <span class="call-cal-date">
                        {{ call.recallDate|dateName }}
                    </span>
                </div>
                <div class="call-cal-body">
                    <b>
                    {% if call.isUrgent %}
                    <span class="red-text">urgent</span>
                    {% else %}
                    <span class="grey-text text-darken-4">{{call.recallPeriod.name}} {{call.recallHour|timeFormat}}</span>
                    {% endif %}
                    </b>
                </div>
                <div class="call-cal-action">
                    <a class="{% if call.isUrgent %}red{% else %} grey darken-3 {% endif %} call-treatment-btn" href="#" data-call="{{ call.id }}" id="treatment-btn-{{ call.id }}">Traiter</a>
                </div>
            </div>
        </div>
    </div>
</li>
