<div class="row">
    <h4>Traiter un appel</h4>
</div>
<div class="row">
    <div class="col s6">
        <div class="col s12">
            <span class="title"><h5>{{call.client.name}}</h5></span>
            <p>
                {{call.client.phone}}<br>
                {{ call.client.phone2 }}
            </p>
            <p>
                <b>{{ call.service.concession.town.name }} > {{ call.service.concession.name }} > {{ call.service.name }}</b><br>
                <small>{{call.subject.name}} - {{call.comment.name}}</small><br>
            </p>
        </div>
    </div>
    <div class="col s6">
        <div class="row">
            {% include 'call_process/_form.html.twig' %}
        </div>
        <div class="row">
            {% if call.callProcessings %}
                {% for process in call.callProcessings|reverse %}
                    <div class="col s12">
                        <table class="call-stepper">
                            <tr class="call-step">
                                <td>
                                    <b>
                                        {{process.createdAt|dateName}}
                                    </b>
                                </td>
                                <td> à {{ process.createdAt|date('H:i') }}</td>
                                <td class="{{ process.stepColors.color }}">{{ process.contactType.name }}</td>
                                <td>{{ process.comment }}</td>
                            </tr>
                        </table>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
