<div class="row grey lighten-4">
<form method="post" action="{{ path('civility_edit', {'id': civility.id}) }}">
    {{ form_start(form_civility) }}
    <div class="input-field col s8">
    {{ form_widget(form_civility.name) }}
    </div>
    <div class="col s4">
    <button class="btn modal-close light-blue btn-small " >{{ button_label|default('Sauvegarder') }}</button>
    </div>
    {{ form_end(form_civility) }}
</form>
</div>





