{% extends 'base.html.twig' %}

{% block title %}Responsables de service{% endblock %}

{% block body %}
    <div class="container">
    <h1><i class="medium left material-icons">clear_all</i> Responsables</h1>
        <a href="{{ path('service_head_new') }}" class="btn light-blue darken-4 mgt30">Ajouter</a>
        {% include 'components/_flashes.html.twig' %}

        <ul class="collapsible mgt30">
            <li>
                <div class="collapsible-header"><h5 class="cyan-text text-darken-3"><i class="material-icons">settings</i>Service</h5></div>
                <div class="collapsible-body">
                    <table class="table highlight">
                        <thead>
                        <tr>
                            <th>Collaborateur</th>
                            <th>est responsable du Service</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for service_head in service_heads %}
                            <tr>
                                <td>{{ service_head.user.firstname ~ ' '  ~ service_head.user.lastname}}</td>
                                <td>{{  service_head.service.concession.town.name ~ ' > ' ~ service_head.service.concession.name ~ ' > ' ~service_head.service.name  }}</td>
                                <td>
                                    {{ include('service_head/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><h5 class="cyan-text"><i class="material-icons">home</i>Concession</h5></div>
                <div class="collapsible-body">
                    <table class="table highlight">
                        <thead>
                        <tr>
                            <th>Collaborateur</th>
                            <th>est responsable de la Concession</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for concession_head in concession_heads %}
                            <tr>
                                <td>{{ concession_head.user.firstname ~ ' '  ~ concession_head.user.lastname}}</td>
                                <td>{{ concession_head.concession.town.name ~ ' > ' ~ concession_head.concession.name}}</td>
                                <td>
                                    {{ include('concession_head/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><h5><i class="material-icons">location_city</i>Plaque</h5></div>
                <div class="collapsible-body">
                    <table class="table highlight">
                        <thead>
                        <tr>
                            <th>Collaborateur</th>
                            <th>est responsable de la Plaque</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for city_head in city_heads %}
                            <tr>
                                <td>{{ city_head.user.firstname ~ ' '  ~ city_head.user.lastname}}</td>
                                <td>{{ city_head.city.name }}</td>
                                <td>
                                    <form method="post" action="{{ path('city_head_delete', {'id': city_head.id}) }}" onsubmit="return confirm('Êtes vous sûr de vouloir supprimer ?');">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city_head.id) }}">
                                        <button class="btn mgt15 light-blue darken-1"><i class="material-icons">delete</i></button>
                                    </form>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="2">Aucun enregistrement trouvé</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
