
    <h1 class="center-align">Concessions</h1>
<div class="container c-index">
    <table class="table highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Adresse</th>
                <th>Code postal</th>
                <th>Ville</th>
                <th>Marque</th>
                <th>Numéro de téléphone</th>
                <th>Plaque</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for concession in concessions %}
            <tr id="concession-line-{{ concession.id }}">
                <td>{{ concession.id }}</td>
                <td>{{ concession.name }}</td>
                <td>{{ concession.address }}</td>
                <td>{{ concession.postcode }}</td>
                <td>{{ concession.city }}</td>
                <td>{{ concession.brand }}</td>
                <td>{{ concession.phone }}</td>
                <td>{{ concession.town.name }}</td>

                <td>
                    <a href="#" class="edit-concession-button" data-target="{{ concession.id }}"><i class="material-icons">edit</i></a>
                    <a href="" class="delete-concession-button" data-target="{{ concession.id }}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
            <tr class="hide editor-line" id="concession-line-edit-{{ concession.id }}">
                <td id="concession-td-edit-{{ concession.id }}" colspan="9"></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

