<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>



    <body>
    <header class="">
        <nav class="noshadow">
            <div class="nav-wrapper  {% if app.environment == 'dev' %} yellow {% else %} white {% endif %} noshadow">
                <ul id="" class="left  noshadow">
                    <li>
                        <a href="{{ path('call_add') }}" class="black-text" data-action="hide" id="control-sidebar">
                           <i class="material-icons left">chevron_left</i> Back to easy-auto
                        </a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down noshadow">
                    {% if app.user %}
                    <li><a href="{{ path('profile_edit', { 'id': app.user.id }) }}" class="black-text"><i class="material-icons left">edit</i>{{ app.user.firstname }} {{ app.user.lastname }}</a></li>

                    <li><a href="{{ path('app_logout') }}" class="black-text"><i class="material-icons left">logout</i>Déconnexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </header>

    <main>
        {% block body %}{% endblock %}
    </main>
    <footer>

    </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
