{% extends 'base.html.twig' %}

{% block title %}demander un rendez-vous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block navbar %}
{% endblock %}
{% block body %}
    <div class="container landingform-page">
        <div class="row grey lighten-4">
            <div class="row header-landing">
                <h4 class="white-text">Rendez-vous atelier
                </h4>

            </div>
            <div class="col s12 l8 offset-l2">
                <div class="col s12 m11 offset-m1">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% if type == 'landing_success' or type == 'landing_error' %}
                            {% for message in messages %}
                                <div class="col s12 landing_flash {{ type }} mgt30">
                                    <span class="white-text flash-{{ type }}">{{ message | raw }}</span>
                                </div>
                                <a class="btn btn-large light-blue mgt30 mgb20"
                                   href="{{ path('dbf_landing', {'brand':brand, 'city': city.name, 'reason':reason}) }}">Faire
                                    une nouvelle demande</a>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
                {% if success == 0 %}
                    <div class="row">
                        {{ form_start(form) }}
                        <div class="col s1 mgt15">
                            <i class="material-icons">person</i>
                        </div>
                        <div class="col s2 mgt15">
                            {{ form_widget(form.civility) }}
                        </div>
                        <div class="col s9 mgt15">
                            {{ form_widget(form.name, {'attr': {'class': (errors.name is defined) ? 'red-text upper' : 'upper' }}) }}
                            {% if errors.name is defined %}
                                <span class="textAlert red-text">{{ errors.name }}</span>
                            {% endif %}
                        </div>
                        <div class="col s1 mgt30">
                            <i class="material-icons">local_phone</i>
                        </div>
                        <div class="col s11 m7 mgt30">
                            {{ form_widget(form.phone, {'attr': {'class': (errors.phone is defined) ? 'red-text' }}) }}
                            {% if errors.phone is defined %}
                                <span class="textAlert red-text">{{ errors.phone }}</span>
                            {% endif %}
                        </div>
                        <div class="col s1 mgt30">
                            <i class="material-icons">directions_car</i>
                        </div>
                        <div class="col s11 m3 mgt30">
                            {{ form_widget(form.immatriculation, {'attr': {'class': (errors.immat is defined) ? 'red-text upper' : 'upper' }}) }}
                            {% if errors.immat is defined %}
                                <span class="textAlert red-text">{{ errors.immat }}</span>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col s11 offset-s1 mgt30 blue-text text-darken-4">
                                <b>Quand pouvons nous vous appeler ?</b>
                            </div>
                        </div>
                        <div class="col s1 mgt15">

                        </div>
                        <div class="col s6 mgt15">
                            {{ form_widget(form.callDate, {'attr': {'class': (errors.day is defined or errors.date is defined) ? 'red-text' }}) }}
                            {% if errors.day is defined %}
                                <span class="textAlert red-text">{{ errors.day }}</span>
                            {% endif %}
                            {% if errors.date is defined %}
                                <span class="textAlert red-text">{{ errors.date }}</span>
                            {% endif %}
                        </div>
                        <div class="col s1 mgt15">
                            <i class="material-icons">access_time</i>
                        </div>
                        <div class="col s2 mgt15">
                            {{ form_widget(form.callHour) }}
                        </div>
                        <div class="col s2 mgt15">
                            {{ form_widget(form.callMinutes) }}
                        </div>
                        <div class="row">
                            <div class="col s11 mgt30 offset-s1 blue-text text-darken-4">
                                <b>Précisez la concession ?</b>
                            </div>
                        </div>

                        <div class="col s1 mgt15 {% if brand is null %}hide{% endif %}">
                            <span><i class="material-icons">location_on</i></span>
                        </div>
                        <div class="col s11 mgt15 {% if brand is null %}hide{% endif %}">
                            {{ form_widget(form.place) }}
                        </div>


                        <div class="col s1 mgt30 {% if brand is null %}hide{% endif %}">
                            <span><i class="material-icons">message</i></span><bR>
                        </div>
                        <div class="col s11 mgt30 {% if brand is null %}hide{% endif %}">
                            {{ form_widget(form.message) }}
                        </div>

                        <div class="col s1 mgt30"></div>
                        <div class="col s11 mgt15">
                            <button class="btn btn-large green  {% if brand is null %}hide{% endif %}" style="width: 100%;"
                                    id="submit_landing_form">{{ button_label|default('envoyer') }}</button>
                        </div>
                        <div class="col s11 m8 hide mgt15" id="landing_loader">
                            <div class="progress grey lighten-3">
                                <div class="indeterminate green "></div>
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                {% endif %}

                <div class="row">
                    <p class="verysmalltext grey-text text-darken-3 col s11 offset-l1">
                        Les informations communiquées par ce formulaire sont utilisées afin de traiter votre demande.
                        DBF Automobiles traite les données recueillies uniquement pour répondre à votre demande.
                        Pour en savoir plus sur la gestion de vos données personnelles et pour exercer vos droits,
                        reportez-vous à la notice en cliquant <a
                                href="https://www.dbf-autos.fr/notice-des-formulaires-de-rendez-vous-atelier/">ici</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://www.google.com/recaptcha/api.js?render=6Lc0aM0UAAAAAMKcGBOywn10S3TwOaDWbbPJwcYY"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('6Lc0aM0UAAAAAMKcGBOywn10S3TwOaDWbbPJwcYY', {
                action: 'homepage'
            })
                .then(function (token) {
                    document.getElementById('token').value = token;
                });
        });
    </script>
{% endblock %}
