{{ form_start(form) }}
<div class="row">
    {{ form_widget(form.phone) }}
</div>
<div class="row">
    {{ form_widget(form.users) }}
</div>

<div class="row center-align">
    <button class="btn light-blue">{{ button_label|default('Ajouter') }}</button>
</div>
{{ form_end(form) }}


