{% block body %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motifs</th>
                <th>Rendez-vous en atelier</th>
                <th>modifier</th>
                <th>supprimer</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.isForAppWorkshop ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('subject_edit', {'id': subject.id}) }}"><i class="material-icons">edit</i></a>
                </td>
                <td>
                    <a href="{{ path('subject_delete', {'id': subject.id}) }}"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
