{% extends 'base.html.twig' %}

{% block title %}Subject index{% endblock %}

{% block body %}
    <h1>Récapitulatif Motifs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Motifs</th>
                <th>Rendez-vous en atelier</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{{ subject.id }}</td>
                <td>{{ subject.name }}</td>
                <td>{{ subject.isForAppWorkshop ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('subject_show', {'id': subject.id}) }}">affichage</a>
                    <a href="{{ path('subject_edit', {'id': subject.id}) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('subject_new') }}">Création d'un motif</a>
{% endblock %}
