
    <table class="table highlight">
        <thead>
            <tr>
                <th>Id</th>
                <th>Immatriculation</th>
                <th>Chassis</th>
                <th>Venu en atelier</th>
                <th>Date de création</th>
                <th>Date d'édition</th>
                <th>Client</th>
            </tr>
        </thead>
        <tbody>
        {% if vehicles is defined %}
            {% for vehicle in vehicles %}
                <tr>
                    <td>{{ vehicle.id }}</td>
                    <td>{{ vehicle.immatriculation }}</td>
                    <td>{{ vehicle.chassis }}</td>
                    <td>{{ vehicle.hasCome }}</td>
                    <td>{{ vehicle.createdAt ? vehicle.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ vehicle.updatedAt ? vehicle.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ vehicle.client.name }}</td>
                </tr>
            {% else %}
            <tr>
                <td colspan="7">Aucun enregistrement trouvé</td>
            </tr>
        {% endfor %}
        {% endif %}


        </tbody>
    </table>
