<h1 class="center-align">Plaques</h1>

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Plaques</th>
        <th>Modifier</th>
        <th>Supprimer</th>
    </tr>
    </thead>
    <tbody>
    {% for city in cities %}
        <tr id="city-line-{{ city.id }}">
            <td>{{ city.id }}</td>
            <td>{{ city.name }}</td>
            <td>
                <a href="{{ path('city_edit', {'id': city.id}) }}"><i class="material-icons">edit</i></a>
            </td>
            <td>
                <a href="#" class="delete-city-button" data-target="{{ city.id }}"> <i class="material-icons">delete</i></a>
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="8">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>


