<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>

<body style="background:#0d47a1">

<table width="90%" cellspacing="0" cellpadding="0" border="0"
       align="center">
    <tbody>
    <tr align="center">
        <td valign="top" bgcolor="#cccccc">
            <div class="row grey lighten-3 center-align"
                 style="width:100%; text-align: center; background:#CCC;
              padding:8px 0;"> <font size="+1"><strong>Message
                        automatique de Easy Auto</strong></font> </div>
        </td>
    </tr>
    <tr align="center" bgcolor="#ffffff">
        <td valign="middle" height="100" align="center"><font
                    color="#d84333"><b><font size="+1">BILAN DE L'EXECUTION DE
                        LA COMMANDE<br>
                        DE NETTOYAGE RGPD DE EASY AUTO
                    </font></b></font> </td>
    </tr>
    <tr align="center" bgcolor="#ffffff">
        <td valign="top">
            <table width="90%" cellspacing="0" cellpadding="0"
                   border="0" align="center">
                <tbody>
                <tr>
                    <td valign="middle" height="30" bgcolor="#eeeeee"><font
                                size="+1"><b>Commande exécutée le</b><b><br>
                            </b></font></td>
                    <td valign="middle" height="30" bgcolor="#eeeeee"><font
                                size="+1">{{ date | date('d-m-Y') }} à {{ date | date('H:i') }}<br>
                        </font></td>
                </tr>
                <tr>
                    <td valign="middle" height="30"><font size="+1"><b>Date
                                de référence</b><b><br>
                            </b></font></td>
                    <td valign="middle" height="30"><font size="+1">{{ ref | date('d-m-Y') }}<br>
                        </font></td>
                </tr>
                <tr>
                    <td valign="middle" height="30" bgcolor="#eeeeee"><font
                                size="+1"><b>Anciens appels supprimés</b><b><br>
                            </b></font></td>
                    <td valign="middle" height="30" bgcolor="#eeeeee"><font
                                size="+1">{{ data.calls }}<br>
                        </font></td>
                </tr>
                <tr>
                    <td valign="middle" height="30"><font size="+1"><b>Transferts
                                supprimés</b><b><br>
                            </b></font></td>
                    <td valign="middle" height="30"><font size="+1">{{ data.transfers }}<br>
                        </font></td>
                </tr>
                <tr>
                    <td valign="middle" height="30" bgcolor="#eeeeee"><font
                                size="+1"><b>Véhicules supprimés</b><b><br>
                            </b></font></td>
                    <td valign="middle" height="30" bgcolor="#eeeeee"><font
                                size="+1">{{ data.vehicles }}<br>
                        </font></td>
                </tr>
                <tr>
                    <td valign="middle" height="30"><font size="+1"><b>Clients
                                supprimés</b><b><br>
                            </b></font></td>
                    <td valign="middle" height="30"><font size="+1">{{ data.clients }}<br>
                        </font></td>
                </tr>
                </tbody>
            </table>
            <br>
        </td>
    </tr>
    <tr align="center" bgcolor="#ffffff">
        <td valign="middle" height="50"><b><a moz-do-not-send="true"
                                              href="https://easy-auto.fr" style="padding: 7px 10px;
                margin: 0 5px 0 5px; background: #0d47a1; border-radius:
                4px; color: #FFFFFF; font-weight: bold;">Easy-Auto</a></b><br>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
