<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
    {% block navbar %}
    <header class="paddleft">
        <nav class="noshadow">
            <div class="nav-wrapper  white noshadow">
                <ul id="" class="left  noshadow">
                    <li>
                        <a href="#" class="black-text" data-action="hide" id="control-sidebar">
                            <i class="material-icons">chevron_left</i>
                        </a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="right hide-on-med-and-down noshadow">
                    <li><a href="#" class="black-text"><i class="material-icons left">logout</i>déconnexion</a></li>
                </ul>
            </div>
        </nav>

        <ul class="sidenav sidenav-fixed" id="sidenav">
            <li>
                <div class="user-view">
                    <div class="background light-blue darken-2">
                    </div>
                    <img src="{{ asset('build/logo.jpg') }}" width="50"><br>
                    <div class="row">
                        <div class="col s12 white-text">
                            <span class="nomApp white-text">Easy Auto</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12 white-text">
                            John Doe <a class="secondary-content" href="#"><i class="material-icons white-text">edit</i></a>
                        </div>
                    </div>
                </div>
            </li>
            <li><a href="recherche.html"><i class="material-icons black-text">search</i>Rechercher</a></li>
            <li><a href="{{ path('call_add') }}"><i class="material-icons light-blue-text">perm_phone_msg</i>Ajouter un appel</a></li>
            <li class="active"><a href="{{ path('calls_to_treat') }}"><i class="material-icons red-text">phone</i>Vos appels à traiter</a></li>
            <li><a href="{{ path('calls_treated') }}"><i class="material-icons light-green-text">phone_missed</i>Vos appels traités</a></li>
            <li ><a href="gestions.html"><i class="material-icons orange-text">insert_chart</i>Statistiques</a></li>
            <li><a href="{{ path('calls_all') }}"><i class="material-icons black-text">description</i>Tous les appels</a></li>
        </ul>


    </header>
    {% endblock %}
        {% block body %}{% endblock %}
    </main>
    <footer>

    </footer>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('materialize') }}
            {{ encore_entry_script_tags('base') }}
        {% endblock %}
    </body>
</html>
