<li class="collection-item cell-item" data-date="{{ call.recallDate|date('Ymd') }}{{ call.recallDate|date('Hi') }}" id="call-{{ call.id }}">
    <div class="row call-list-row-cell">
        <div class="col s10">
            <div class="row">
                <div class="col s4">
                    <small>
                        crée
                        <b>
                            {{call.createdAt|dateName}}
                            à {{ call.createdAt|timeFormat}}
                        </b>
                        par  <b>{{call.service.concession.town.name}}</b>
                    </small>
                    {% if call.callTransfers is not empty %}
                        <i class="material-icons left tooltipped" data-position="right" data-tooltip="<div class='left-align'>
                        {% for transfer in call.callTransfers|reverse %}
                            - Transféré par {{ transfer.byWhom.firstName }} {{ transfer.byWhom.lastName }} {{ transfer.createdAt|dateName }} à {{ transfer.createdAt|timeFormat }}
                        {% endfor %}
                        </div>
                        ">description</i>
                    {% endif %}
                </div>
                <div class="col s8">
                    <span class="recipient-chip">
                        <i class="material-icons left">person</i>
                        {{ call.recipient.firstname }} {{ call.recipient.lastname }}
                    </span>
                    <span class="place-name">
                        <i class="material-icons tiny">home</i>
                        {{call.service.concession.name}}
                    </span>
                    <span class="place-name service-name">
                        <i class="material-icons tiny">build</i>
                        {{ call.service.name }}
                    </span>
                </div>

            </div>
            <div class="row">
                <div class="col s4">
                    <span class="title">
                        {{call.client.civility.name}} {{call.client.name}}
                        {% if call.client.email != '' %}
                            <span class="mgl30"><i class="material-icons tooltipped grey-text text-darken-3 tiny" data-position="top" data-tooltip="{{call.client.email}}">mail</i></span>
                        {% endif %}
                    </span>
                </div>
                <div class="col s4">
                    <i class="material-icons left grey-text">label</i> {{ call.subject.name }}
                </div>
                <div class="col s4">
                    <i class="material-icons left grey-text">label</i>{{ call.comment.name }}
                </div>

            </div>
            <div class="row">
                <div class="col s4">
                    <span class="chip ">{{call.client.phone|phoneNumber}}</span>
                </div>

                <div class="col s8">
                    <em>{{ call.freeComment }}</em>
                </div>

            </div>
            <div class="row">
                <div class="col s4">
                    {% if call.client.phone2 is defined and call.client.phone2 is not null and call.client.phone2 is not empty %}
                        <span class="chip">{{ call.client.phone2|phoneNumber }}</span>
                    {% endif %}
                </div>
                <div class="col s5" id="call-history-{{ call.id }}">
                    {% for process in call.callProcessings|reverse[:1] %}
                        <span class="chip {{process.stepColors.bgColor}} black-text">{{process.stepColors.stepName|raw}}</span>
                        <b>
                            {{ process.createdAt|dateName }}
                            à {{ process.createdAt|timeFormat }}
                        </b>
                    {% endfor %}
                </div>
                <div class="col s3 right-align">
                    <i class="material-icons small left">directions_car</i> <span class="immat left">{{ call.vehicle.immatriculation }}</span>
                    {% if call.vehicle.hasCome is constant('App\\Entity\\Vehicle::TRISWITCH_YES_VALUE') %}
                        <i class="material-icons left light-green-text tooltipped" data-tooltip="Déja venu à l'atelier" data-position="top">settings_applications</i>
                    {% elseif call.vehicle.hasCome is constant('App\\Entity\\Vehicle::TRISWITCH_NO_VALUE') %}
                        <i class="material-icons left red-text tooltipped" data-tooltip="Jamais venu à l'atelier" data-position="top">settings_applications</i>
                    {% endif %}
                    {% if call.vehicle.chassis %}
                        <small class="left"><b>Chassis : </b>{{ call.vehicle.chassis }}</small>
                    {% endif %}
                </div>

            </div>
        </div>

        <div class="col s2 left-align ">
            <div class="call-calendar small grey lighten-4">
                <div class="call-cal-header {% if call.isUrgent %}urgent{% endif %}">
                    <i class="material-icons ">event_date </i>
                    <span class="call-cal-date">
                        {{ call.recallDate|dateName }}
                    </span>
                </div>
                <div class="call-cal-body">
                    <b>
                        {% if call.isUrgent %}
                            <span class="red-text">urgent</span>
                        {% else %}
                            <span class="grey-text text-darken-4">{{call.recallPeriod.name}} {{call.recallHour|timeFormat}}</span>
                        {% endif %}
                    </b>
                </div>
            </div>
        </div>
    </div>
</li>
