{% extends 'landing_simple_base.html.twig' %}

{% block title %}demander un rendez-vous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block navbar %}
{% endblock %}
{% block body %}
    <div class="new-landing-form carrosserie-page carrosserie">
        <div class="row">
            <div class="col s12">
                {% for type, messages in app.session.flashbag.all() %}
                    {% if type == 'landing_success' or type == 'landing_error' %}
                        {% for message in messages %}
                            <div class="col s12 landing_flash {{ type }}">
                                    <span class="black-text flash-{{ type }}">
                                        {{ message | raw }}
                                    </span>
                            </div>
                            <a class="btn btn-large mgt15" style="background-color: #{{ color }}" href="/carrosserie/{{ city }}/{{ color }}">nouvelle demande</a>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>

            <div class="col s12">

                {% if success == 0 %}
                {{ form_start(form) }}

                <div class="row mt-15">
                    <div class="col s2">
                        {{ form_widget(form.civility) }}
                    </div>
                    <div class="col s9 offset-s1">
                        {{ form_widget(form.name, {'attr': {'class': (errors.name is defined) ? 'red-text upper' : 'upper' }}) }}
                        {% if errors.name is defined %}
                            <span class="textAlert red-text">{{ errors.name }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col s12">
                        {{ form_widget(form.email) }}
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col s12 m5">
                        {{ form_widget(form.phone, {'attr': {'class': (errors.phone is defined) ? 'red-text' }}) }}
                        {% if errors.phone is defined %}
                            <span class="textAlert red-text">{{ errors.phone }}</span>
                        {% endif %}
                    </div>
                    <div class="col m2 hide-on-small-only"></div>

                    <div class="col s12 m5">
                        {{ form_widget(form.immatriculation, {'attr': {'class': (errors.immat is defined) ? 'red-text upper' : 'upper' }}) }}
                        {% if errors.immat is defined %}
                            <span class="textAlert red-text">{{ errors.immat }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col s12 ">
                        {{ form_widget(form.place) }}
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col s12  ">
                        {{ form_widget(form.askFor) }}
                    </div>
                </div>

                <div class="row mt-15">

                    <div class="col s12 m6">
                        {{ form_widget(form.callDate) }}
                    </div>

                    <div class="col s5 m2 offset-m1">
                        {{ form_widget(form.callHour) }}
                    </div>

                    <div class="col s5 offset-s2 m2 offset-m1">
                        {{ form_widget(form.callMinutes) }}
                    </div>

                </div>

                <div class="row mt-15">
                    <div class="col s12">
                        {{ form_widget(form.message) }}
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col s12 ">
                        <button
                                class="btn btn-large"
                                style="background-color:#{{ color }};"
                                id="submit_landing_form_apv">{{ button_label|default('envoyer') }}
                        </button>
                    </div>
                </div>

                <div class="row mt-15">
                    <div class="col s12  hide mgt15" id="landing_loader">
                        <div class="progress grey lighten-3">
                            <div class="indeterminate green"></div>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
                {% endif %}

            </div>

        </div>

    </div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const origin = window.parent.location
        console.log(origin)
        if (!document.getElementById('dbf_origin').value || document.getElementById('dbf_origin').value == '') {
            document.getElementById('dbf_origin').setAttribute('value', origin.href)
        }
    })

</script>
{% endblock %}
