{% extends 'base.html.twig' %}

{% block title %}demander un rendez-vous{% endblock %}

{% block navbar %}
{% endblock %}
{% block body %}
    <div class="container">
        {{ dump(ipRemote) }}
        <div class="row">
            <div class="col s12 l6 offset-l3">
                <div class="col s12">
                    <h5 class="grey-text">Demander un rendez-vous pour un véhicule de marque {{ brand | upper }}</h5>
                </div>
                {{ form_start(form) }}
                <div class="col s2">
                    {{ form_label(form.civility) }}
                    {{ form_widget(form.civility) }}
                </div>
                <div class="col s10">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name, {'attr': {'class': (errors.name is defined) ? 'red-text' }}) }}
                    {% if errors.name is defined %}
                        <span class="textAlert red-text">{{ errors.name }}</span>
                    {% endif %}
                </div>
                <div class="col s12 m8">
                    {{ form_label(form.phone) }}
                    {{ form_widget(form.phone, {'attr': {'class': (errors.phone is defined) ? 'red-text' }}) }}
                    {% if errors.phone is defined %}
                        <span class="textAlert red-text">{{ errors.phone }}</span>
                    {% endif %}
                </div>
                <div class="col s12 m4">
                    {{ form_label(form.immatriculation) }}
                    {{ form_widget(form.immatriculation, {'attr': {'class': (errors.immat is defined) ? 'red-text' }}) }}
                    {% if errors.immat is defined %}
                        <span class="textAlert red-text">{{ errors.immat }}</span>
                    {% endif %}
                </div>
                <div class="col s8">
                    {{ form_label(form.callDate) }}
                    {{ form_widget(form.callDate, {'attr': {'class': (errors.day is defined or errors.date is defined) ? 'red-text' }}) }}
                    {% if errors.day is defined %}
                        <span class="textAlert red-text">{{ errors.day }}</span>
                    {% endif %}
                    {% if errors.date is defined %}
                        <span class="textAlert red-text">{{ errors.date }}</span>
                    {% endif %}
                </div>
                <div class="col s2">
                    {{ form_label(form.callHour) }}
                    {{ form_widget(form.callHour) }}
                </div>
                <div class="col s2">
                    {{ form_label(form.callMinutes) }}
                    {{ form_widget(form.callMinutes) }}
                </div>
                <div class="col s6">
                    {{ form_label(form.place) }}
                    {{ form_widget(form.place) }}
                </div>
                <div class="col s6">
                    {{ form_label(form.askFor) }}
                    {{ form_widget(form.askFor) }}
                </div>
                <div class="col s12">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message) }}
                </div>
                <div class="col s12 m3">
                    <button class="btn cyan" id="">{{ button_label|default('envoyer') }}</button>
                </div>
                {{ form_end(form) }}

                <div class="col s12 m9">
                    {% for type, messages in app.session.flashbag.all() %}
                        {% if type == 'landing_success' or type == 'landing_error' %}
                            {% for message in messages %}
                                <div class="col s12 landing_flash {{ type }}">
                                    <span class="white-text flash-{{ type }}">{{ message | raw }}</span>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>


        </div>
    </div>
{% endblock %}
