{{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}

<div class="row" >
    <div class="col s3">
        <div class="row">
            <h5><i class="material-icons">person</i>Client</h5>
            <div class="col s12">
                {{ form_label(form.client.phone) }}
                {{ form_widget(form.client.phone) }}
            </div>
        </div>
        <div class="row">
            <div class=" input-field col s12">
                {{ form_widget(form.client)}}
            </div>
            <div class="input-field col s12 ">
                {{ form_label(form.vehicle.immatriculation) }}
                {{ form_widget(form.vehicle.immatriculation) }}
            </div>
            <div class="input-field col s12 ">
                {{ form_label(form.vehicle.chassis) }}
                {{ form_widget(form.vehicle.chassis) }}
            </div>
            <div class="input-field col s6 ">
                {{ form_widget(form.vehicle.hasCome) }}
                <p>Déjà passé en atelier ?</p>
                <div id="switcher_add_call"></div>
            </div>
        </div>
    </div>
    <div class="col s3">
        <div class="row">
            <h5><i class="material-icons">phone</i>Appel</h5>
            <div class="col s12">
                {{form_widget(form.subject)}}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 ">
                {{ form_widget(form.comment) }}
            </div>

            <div class="collapsible-body" id="recipient_form">
                <div class="row">
                    <div class="col s3" id="recipient-city">
                        <b>Choisir une plaque</b><br>
                        {{form_widget(form.city)}}
                    </div>
                    <div class="col s3" id="recipient-concession">
                    </div>
                    <div class="col s3" id="recipient-service">
                    </div>
                    <div class="col s3" id="recipient-recipient">
                    </div>
                </div>
            <div class="input-field col s12">
                {{ form_label(form.freeComment) }}
                {{ form_widget(form.freeComment) }}
            </div>
        </div>
    </div>
    <div class="col s3">
        <h5><i class="material-icons">person_pin</i>Destinataire</h5>
        <div class="input-field col s12" id="recipient_form">
            {% include 'call/_form_recipients.html.twig' %}
        </div>
    </div>
    <div class="col s3">
        <h5><i class="material-icons">phone_forwarded</i>Rappel</h5>
        <div class="row">
            {{form_widget(form.recallDate)}}
            <!--<div class="col input-field s12">
                <input type="date" id="recallDay" name="recallDay"  required />
                <label for="recallDay">Jour</label>
            </div>-->
            <div class="col input-field s12">
                {{form_widget(form.recallPeriod)}}
            </div>
            {{ form_widget(form.recallHour) }}
            <!--
            <div class="col input-field s12">
                <input type="time" id="recallHour" name="recallHour"  required />
                <label for="recallHour">Heure</label>
            </div>-->
        </div>
    </div>
</div>
<button class="btn">{{ button_label|default('Ajouter') }}</button>

{{ form_end(form) }}
