
    <div class="container">
        {% for call in calls %}
            <div class="row ligneappel message">
                <a href="" class="btn btn-floating white btn-pin"><i class="material-icons light-blue-text">perm_phone_msg</i></a>
                <div class="col s4 ">
                    <div class="col s12">
                        <table>
                            <tr class="bdb0">
                                <td>
                                    <b>Appel reçu par</b>
                                </td>
                                <td>
                                    {{call.author.firstname ~ ' ' ~ call.author.lastname }}
                                </td>
                            </tr>
                            <tr class="bdb0">
                                <td>
                                    <b>Appel pour</b>
                                </td>
                                <td>
                                    {{call.recipient.firstname ~ ' ' ~ call.recipient.lastname }}
                                </td>
                            </tr>
                            <tr class="bdb0">
                                <td>
                                    <b>Concession</b>
                                </td>
                                <td>
                                    {{call.service.concession.name}}
                                </td>
                            </tr>
                            <tr class="bdb0">
                                <td>
                                    <b>Service</b>
                                </td>
                                <td>
                                    {{call.service.name}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col s4 ">
                    <div class="col s12">
                        <table>
                            <tr>
                                <td>
                                    <b>Client</b>
                                </td>
                                <td>
                                    {{ call.client.civility.name ~ ' ' ~ call.client.name}}
                                </td>
                            </tr>
                            <tr class="bdb0">
                                <td>
                                    <b>Tel. 1</b>
                                </td>
                                <td>
                                    {{call.client.phone}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Tel. 2</b>
                                </td>
                                <td>
                                    {{call.client.phone2}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Traitement</b>
                                </td>
                                <td class="light-blue-text">
                                    //TO DO
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
                <div class="col s4 ">
                    <div class="col s12">
                        <table>
                            <tr>
                                <td>
                                    <b>Rappeler</b>
                                </td>
                                <td>
                                    {{ call.recallDate|date('d-m-Y') ~ ' ' ~ call.recallPeriod.name ~ ' ' ~ call.recallHour|date('H:i') }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Motif</b>
                                </td>
                                <td>
                                    {{call.subject.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Commentaire</b>
                                </td>
                                <td>
                                    {{call.comment.name}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Immat</b>
                                </td>
                                <td>
                                    <span class="immat">{{ call.vehicle.immatriculation }}</span>
                                </td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

