<table class="table highlight">
    <thead>
    <tr>
        <th>Nom</th>
        <th>Email</th>
        <th>Téléphone</th>
        <th>Service</th>
        <th>Roles</th>
        <th>Date de création</th>
        <th>Date de modification</th>
        <th>Peut être désigné destinataire ?</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for user_data in users %}
        {% set user = user_data[0] %}
        {% set has_calls = user_data.hasCalls > 0 %}
        <tr id={{ user.id }}>
            <td>{{ user.lastName | upper ~ ' ' ~ user.firstName }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone ? user.phone|phoneNumber : '' }}</td>
            <td>{{ user.service ? user.service.concession.town.name ~ ' > ' ~ user.service.concession.name ~ ' > '~user.service.name : ''  }}</td>
            <td>{{ user.roles == ["ROLE_ADMIN","ROLE_USER"]? "Administrateur": '' }}</td>
            <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            <td><span class="material-icons">{{ user.canBeRecipient ? 'done' : '' }}
                    </span>
            </td>
            <td>
                <a href="{{ path('user_edit', {'id': user.id}) }}" class="btn mgt15 light-blue darken-1"><i class="material-icons">edit</i></a>
                {% if not has_calls %}
                    {{ include('user/_delete_form.html.twig') }}
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr>
            <td colspan="10">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>