{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
    <h1>Collaborateurs</h1>
        <a href="{{ path('user_new') }}" class="btn light-blue darken-2">Ajouter</a>
        {% include 'components/_flashes.html.twig' %}
    <table class="table highlight">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Service</th>
                <th>Concession</th>
                <th>Plaque</th>
                <th>Roles</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone ? user.phone|phoneNumber : '' }}</td>
                <td>{{ user.service ? user.service.name : ''  }}</td>
                <td>{{ user.service ? user.service.concession.name : ''  }}</td>
                <td>{{ user.service ? user.service.concession.town.name : ''  }}</td>
                <td>{{ user.roles == ["ROLE_ADMIN","ROLE_USER"]? "Admin": '' }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('user_edit', {'id': user.id}) }}"><i class="material-icons">edit</i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    </div>
{% endblock %}
